<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dic-tio-nary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand">Dic-tio-nary</a>
    <form class="form-inline">
        <a class="mr-3 text-white" href="/"><strong>TRADUCTOR</strong></a>
        <a class="btn btn-outline-light my-2 my-sm-0 mr-3" href="/users/">LOGIN</a>
        <a class="btn btn-light my-2 my-sm-0" href="/users">REGISTRAR</a>
    </form>
</nav>
<div class="container">
    <div class="row md-12">
        <div class="col-md-12">
            <form method="post" action="#" id="#">
                <div class="form-group files">
                   <h2>Traduzca un documento</h2>
                    <input type="file" class="form-control" multiple="">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>