<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dic-tio-nary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand">Dic-tio-nary</a>
    <form class="form-inline">
        <a class="mr-3 text-white" href="/"><strong>TRADUCTOR</strong></a>
    </form>
</nav>
<div class="container">
    <form class="row" th:action="@{'/document/' + ${user.idUser}}" method="post" enctype="multipart/form-data">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <h4>Traducir un documento:</h4>
                <input type="file" id="file" name="file" class="form-control" accept="application/txt" download>
            </div>
            <div class="form-group">
                <select th:field="${translate.targetLanguage}" class="form-control border-0"
                        id="selectTextoDestino"
                        onchange="submit">
                    <option selected value="no" disabled>Traducir a...</option>
                    <option value="Arabic"> Arabic</option>
                    <option value="Chinese"> Chinese</option>
                    <option value="Czech"> Czech</option>
                    <option value="Danish"> Danish</option>
                    <option value="Dutch"> Dutch</option>
                    <option value="English"> English</option>
                    <option value="Finnish"> Finnish</option>
                    <option value="French"> French</option>
                    <option value="German"> German</option>
                    <option value="Hebrew"> Hebrew</option>
                    <option value="Indonesian"> Indonesian</option>
                    <option value="Italian"> Italian</option>
                    <option value="Japanese"> Japanese</option>
                    <option value="Korean"> Korean</option>
                    <option value="Polish"> Polish</option>
                    <option value="Portuguese"> Portuguese</option>
                    <option value="Russian"> Russian</option>
                    <option value="Spanish"> Spanish</option>
                    <option value="Swedish"> Swedish</option>
                    <option value="Turkish"> Turkish</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <button type="submit" class="btn btn-dark mt-5">Traducir</button>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Url</th>
            <th scope="col">Fecha de creación</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${documents}" th:object="${document}">
            <th th:text="${document.title}"></th>
            <td th:text="${document.url}"></td>
            <td th:text="${document.created}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>