<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Users</title>
</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Inicio<span></span></a></li>				
			</ul>
		</div>
	</nav>
	<div>
		<h1>Registro de usuarios</h1>
		<div>
			<form th:object="${user}" th:action="@{/users/user}" method="post">
				<div>
					<div>
						<label for="mail">E-mail: </label> <input
							th:field="*{mail}" type="text" id="mail">
					</div>
					<div>
						<label for="username">Nombre de usuario: </label> <input
							th:field="*{username}" type="text" id="username">
					</div>
				</div>
				<div>
					<label for="password">Contraseña: </label> <input
						th:field="*{password}" type="password" id="password">
				</div>				
				<button type="submit">Registrar</button>
			</form>
		</div>
	</div>
</body>
</html>